/* Bloco de Resetar margins e Paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(242, 242, 242);
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

p {
  color: rgba(0, 0, 0, 0.485);
}

/* O código começa aqui */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  margin: 20px;
  text-align: center;
}

.action, .btn, .input {
  border-radius: 15px;
}

.action {
  display: flex;
  gap: 10px;
  margin-bottom: 20px; /* Espaço abaixo da ação */
}

.input, .btn {
  border: 1px solid transparent;
  padding: 8px .8em;
}

.input {
  width: calc(100% - 90px); /* Subtrai a largura do botão + gap */
  border-color: #0077dee2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.109);
  
}
.input:focus{
  border-color: black;
}
.input:active{
  border-color: black;
}


.btn {
  background-color: #0071E3;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  padding: 8px 20px; /* Definir padding explícito para o botão */
}

.btn:hover, .btn:focus {
  background-color: rgb(0, 149, 255);
  font-weight: 500;
}

.btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.btn:active {
  background-color: #0064bd;
}

/* Estilos de botões de ação e itens da lista */
ul.todo {
  list-style: none;
  width: 100%; /* A lista ocupa a largura total do contêiner */
  max-width: 800px; /* Largura máxima para a lista */
  margin: auto; /* Centraliza a lista */
  
}

ul.todo li {
  word-wrap: break-word; /* Quebra palavras longas */
  background: #ffffff00; /* Cor de fundo */
  font-size: 18px; /* Tamanho da fonte */
  border-bottom: 1px solid #0000002e; /* Adiciona borda azul */
  border-radius: 0px;
  margin: 10px;
  transition: 0.2s;
  user-select: none; /* Itens da lista são não selecionáveis */
}
.botao_editar{
  background-color: transparent;
  color: #0570f3;
  border: none;
  cursor: pointer;
  padding-left: 15px;
}
.botao_apagar{
  background-color: transparent;
  color: #bd0000;
  border: none;
  cursor: pointer;
  padding-left: 15px;
}


/* Media query para telas menores */
@media (max-width: 768px) {
  h1 {
      font-size: 2rem; /* Tamanho da fonte do h1 para telas menores */
  }

  ul.todo li {
      padding: 12px 6px; /* Padding menor para os itens da lista */
      font-size: 16px; /* Tamanho da fonte menor para os itens da lista */
  }
}
